html, body{
	font-family: "Helvetica";
	height: 100%;

	background-color: #ededef;
	color: #585858;
}
#page{
	
	max-width: 900px;
	min-height: 80%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 20px silver;
	
}

h1{
	padding: 20px;

	margin: 30px;
	font-size: 240%;
}

.navigation{

	width: 95.7%;
	list-style: none;
	
	margin: -25px 20px;
	
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	border-bottom: 1px solid silver;
	vertical-align: middle;
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #207cca 47%, #2989d8 84%, #7db9e8 100%);
	background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 47%,#2989d8 84%,#7db9e8 100%);
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 47%,#2989d8 84%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	border-bottom: 2px solid #eaeaea;
}

.navigation li{
	min-width: 100px;
	
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 6px;

}
.navigation li:hover{
	text-shadow: 0px 0px 10px black;
}

.navigation a{
	
	color: white;
	text-shadow: 0px 0px 5px black;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	
	text-decoration: none;
	vertical-align: middle;
}

#challenges{

	border: 1px solid #eaeafa;
	border-radius: 5px;
	padding: 20px;
	margin-top: 50px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 30px #eaeaea;
}
input{
	border: 1px solid silver;
	border-radius: 3px;
	font-size: 20px;
	width: 95%;
	padding: 0px 0px;
	margin: 10px;
}

.challenge{
	
	border: 1px solid #eaeaea;
	padding: 10px;
	margin-bottom:10px;
}
.challenge h2{
	
	border: 1px solid #eaeaea;
	padding: 5px;
	margin:-11px;

	background-color: #fbfbfb;
	margin-bottom: 30px
	
}
